[submodule "third_party/llm-awq"]
	path = third_party/llm-awq
	url = https://github.com/mit-han-lab/llm-awq.git
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness
[submodule "pruning/wanda"]
	path = pruning/wanda
	url = https://github.com/jonny-vr/wanda.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "quantization/llm-awq"]
	path = quantization/llm-awq
	url = git@github.com:jonny-vr/llm-awq.git
	branch = add-qwen3-support
[submodule "TrustLLM"]
	path = TrustLLM
	url = https://github.com/HowieHwong/TrustLLM.git
[submodule "lighteval"]
	path = lighteval
	url = https://github.com/jvonrad/lighteval.git
